body {-webkit-nbsp-mode:normal !important;margin: 0px !important;padding:0px !important;line-height:1.4 !important;} .wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{margin:0px !important;padding:0px !important;text-align:left;} .wafxText  a{font-weight:400;font-style:normal;text-decoration:none;color:#ff0000;} .wafxText  a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#ff0000;} .wafxText p.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h1.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h2.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h3.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h4.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h5.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h6.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf{text-align:left;} .waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf a:link{font-weight:400;font-style:normal;text-decoration:none;color:#ff0000;} .waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#ff0000;} .wafxText p.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h1.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h2.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h3.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h4.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h5.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h6.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487{text-align:left;} .waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487 a:link{font-weight:400;font-style:normal;text-decoration:none;color:#646464;} .waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487 a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#646464;} 
@media(max-width:768px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h1.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h2.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h3.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h4.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h5.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h6.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
.wafxText p.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h1.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h2.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h3.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h4.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h5.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h6.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
}
@media(min-width:768px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h1.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h2.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h3.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h4.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h5.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h6.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
.wafxText p.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h1.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h2.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h3.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h4.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h5.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h6.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
}
@media(min-width:1025px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h1.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h2.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h3.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h4.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h5.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h6.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
.wafxText p.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h1.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h2.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h3.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h4.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h5.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h6.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
}
.smt-wa-default{
color:#000000;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-default a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-block-fa0d9064_c4f6_470c_a38b_08b096a0a292{
color:#0645c9;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:center;font-weight:400;font-style:normal;font-family:'Raleway';font-size:14px;
}
.smt-wa-block-fa0d9064_c4f6_470c_a38b_08b096a0a292 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-block-845e611e_3703_4fc0_83fa_e6059805724a{
color:#59493f;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:400;font-style:normal;font-family:'Petit Formal Script';font-size:46px;
}
.smt-wa-block-845e611e_3703_4fc0_83fa_e6059805724a a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-block-39bd263a_7825_41ec_a80d_cfd84d8816a5{
color:#f8b535;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:400;font-style:normal;font-family:'Raleway';font-size:16px;
}
.smt-wa-block-39bd263a_7825_41ec_a80d_cfd84d8816a5 a{
color:#0000ff !important;text-decoration:underline !important;}

.comp_0{background-position:center center;background-size:cover;position:absolute;z-index:10005;}
.comp_1{background-color:#59493f;position:absolute;z-index:10010;}
.comp_10{background-color:#f5f3ef;position:absolute;z-index:50060;}
.comp_11{position:absolute;z-index:50080;}
.comp_12{position:absolute;z-index:50090;}
.comp_13{position:absolute;z-index:50105;}
.comp_14{background-position:right center;background-size:cover;position:absolute;z-index:50115;}
.comp_15{background-color:rgba(0,0,0,0);position:absolute;z-index:50170;}
.comp_16{background-color:rgba(0,0,0,0);position:absolute;z-index:50245;}
.comp_17{background-color:rgba(0,0,0,0);position:absolute;z-index:50360;}
.comp_18{background-color:rgba(0,0,0,0);position:absolute;z-index:50405;}
.comp_19{background-color:rgba(0,0,0,0);position:absolute;z-index:50455;}
.comp_2{position:absolute;z-index:10015;}
.comp_20{background-color:rgba(0,0,0,0);position:absolute;z-index:50560;}
.comp_21{background-color:rgba(0,0,0,0);position:absolute;z-index:50660;}
.comp_3{background-color:#f8b535;position:absolute;z-index:10000;}
.comp_4{position:absolute;z-index:10035;}
.comp_4 .wafx-menunid5 .wafx-menu-bt-hamburger svg{fill:#ffffff;}
.comp_5{background-color:rgba(0,0,0,0);position:absolute;z-index:10060;}
.comp_6{background-color:rgba(0,0,0,0);position:absolute;z-index:10095;}
.comp_7{background-color:rgba(0,0,0,0);position:absolute;z-index:10125;}
.comp_8{background-color:rgba(0,0,0,0);position:absolute;z-index:10155;}
.comp_9{background-position:left center;background-size:cover;position:absolute;z-index:50035;}
.wafx-menunid5 .wafx-menu-frame-main .wafx-menu-item{color:#ffffff;font-family:'Raleway';font-style:normal;font-weight:700;padding:0px;padding-left:10px;padding-right:10px;text-decoration:none;}
.wafx-menunid5 .wafxMenuItemLeftPad{padding-left:25px;}
.wafx-menunid5 .wafxMenuItemRightPad{padding-right:25px;}
.wafx-menunid5 .wafxMenuItemVerticalPad{padding-bottom:15px;padding-top:15px;}
.wafx-menunid5 .wafxMenuPageBackText{background-color:black;color:white;font-family:'Arial';font-style:normal;font-weight:400;padding-bottom:20px;padding-top:20px;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item{color:#000000;padding:8px;text-decoration:none;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item:hover{background-color:#a0a0a4;color:#ffffff;}
body{background-color:#ffffff;background-image:url(./wafx_res/Images/0--1-bg.png);}
@media(max-width:768px){
.blockPage{transform:scale(1) ;transform-origin:top left;width:320px;}
.blockPagecontainer{width:320px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:block;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_19{display:block;}
.compVis_2{display:block;}
.compVis_20{display:block;}
.compVis_21{display:block;}
.compVis_3{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{background-image:url(./wafx_res/Images/0-320-banner.jpg);height:68px;left:0px;top:269.967px;width:320px;}
.comp_1{height:91px;left:0px;top:179.054px;width:320px;}
.comp_10{height:1365px;left:0px;top:964.166px;width:320px;}
.comp_11{height:267px;left:0px;top:1764.89px;width:320px;}
.comp_11 .wafx-img-picture{height:267px;left:26px;top:0px;width:267px;}
.comp_12{height:11px;left:0px;top:2412.76px;width:320px;}
.comp_12 .wafx-img-picture{height:6px;left:0px;top:3px;width:320px;}
.comp_13{height:267px;left:0px;top:1231.83px;width:320px;}
.comp_13 .wafx-img-picture{height:267px;left:26px;top:0px;width:267px;}
.comp_14{background-image:url(./wafx_res/Images/0-320-restaurant.jpg);height:97px;left:0px;top:2319.47px;width:320px;}
.comp_15{height:382px;left:0px;top:545px;width:320px;}
.comp_15 .wafx-smt-txt-wrap{width:300px;}
.comp_16{height:277px;left:0px;top:1518.98px;width:320px;}
.comp_16 .wafx-smt-txt-wrap{width:300px;}
.comp_17{height:239px;left:0px;top:2048.14px;width:320px;}
.comp_17 .wafx-smt-txt-wrap{width:300px;}
.comp_18{height:137px;left:0px;top:364.641px;width:320px;}
.comp_18 .wafx-smt-txt-wrap{width:300px;}
.comp_19{height:147px;left:0px;top:456.875px;width:319px;}
.comp_19 .wafx-smt-txt-wrap{width:299px;}
.comp_2{height:116px;left:17.3193px;top:4.95678px;width:280px;}
.comp_2 .wafx-img-picture{height:100px;left:0px;top:8px;width:280px;}
.comp_20{height:96px;left:0px;top:1136.5px;width:320px;}
.comp_20 .wafx-smt-txt-wrap{width:300px;}
.comp_21{height:100px;left:0px;top:1036.1px;width:320px;}
.comp_21 .wafx-smt-txt-wrap{width:300px;}
.comp_3{height:58px;left:0px;top:120.804px;width:320px;}
.comp_4{background:none;background-color:transparent;border:none;height:90px;left:222.594px;top:179.515px;width:97px;}
.comp_4 .inner-box{border:none;}
.comp_5{height:72px;left:11.4314px;top:188.404px;width:196px;}
.comp_5 .wafx-smt-txt-wrap{width:176px;}
.comp_6{height:49px;left:0px;top:125.5px;width:319px;}
.comp_6 .wafx-smt-txt-wrap{width:299px;}
.comp_7{height:59px;left:0px;top:2483.4px;width:320px;}
.comp_7 .wafx-smt-txt-wrap{width:300px;}
.comp_8{height:53px;left:0px;top:2456.5px;width:320px;}
.comp_8 .wafx-smt-txt-wrap{width:300px;}
.comp_9{background-image:url(./wafx_res/Images/0-1263-{4d0f0fd3-5fc5-4af1-80b8-0f9310752f53});height:626px;left:0px;top:337.617px;width:320px;}
.textShape_1024{display:none;}
.textShape_320{display:block;}
.textShape_768{display:none;}
.waBlockSocialBar{display:none;}
.wafx-menunid5 .wafx-menu{display:none;}
.wafx-menunid5 .wafx-menu-bt-hamburger{display:flex;justify-content:center;}
.wafx-menunid5 .wafx-menu-bt-hamburger svg{height:90px;transform:scale(0.8);width:90px;}
.wafx-menunid5 .wafxMenuPageGroupItem{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid5 .wafxMenuPageItem{color:#000000;font-family:'Arial';font-style:normal;font-weight:400;}
.wafx-menunid5 .wafxMenuPageItem:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid5.wafx-menu-frame{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'Arial';font-size:16px;font-style:normal;font-weight:400;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item{color:#000000;padding:8px;text-decoration:none;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid5.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:none;}
.wafx-vis-320{display:block;}
.wafx-vis-768{display:none;}
.wafxCompFluid{left:calc( 0px - (100vw - 320px) / 2);width:calc(100vw - 10px);}
}
@media(min-width:768px){
.blockPage{transform:scale(1) ;transform-origin:top left;width:768px;}
.blockPagecontainer{width:768px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:block;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_19{display:block;}
.compVis_2{display:block;}
.compVis_20{display:block;}
.compVis_21{display:block;}
.compVis_3{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{background-image:url(./wafx_res/Images/0-770-banner.jpg);height:164px;left:0px;top:189.92px;width:768px;}
.comp_1{height:59px;left:0px;top:134.929px;width:768px;}
.comp_10{height:612px;left:0px;top:636.946px;width:768px;}
.comp_11{height:248px;left:410.5px;top:772.076px;width:259px;}
.comp_11 .wafx-img-picture{height:248px;left:6px;top:0px;width:248px;}
.comp_12{height:26px;left:0px;top:1476px;width:768px;}
.comp_12 .wafx-img-picture{height:16px;left:0px;top:5px;width:768px;}
.comp_13{height:248px;left:92.125px;top:772.018px;width:259px;}
.comp_13 .wafx-img-picture{height:248px;left:6px;top:0px;width:248px;}
.comp_14{background-image:url(./wafx_res/Images/0-768-restaurant.jpg);height:232px;left:0px;top:1249.02px;width:768px;}
.comp_15{height:301px;left:238.528px;top:351.447px;width:472px;}
.comp_15 .wafx-smt-txt-wrap{width:452px;}
.comp_16{height:175px;left:119.75px;top:1020px;width:225px;}
.comp_16 .wafx-smt-txt-wrap{width:205px;}
.comp_17{height:175px;left:427.5px;top:1019.64px;width:225px;}
.comp_17 .wafx-smt-txt-wrap{width:205px;}
.comp_18{height:64px;left:222px;top:264.676px;width:509px;}
.comp_18 .wafx-smt-txt-wrap{width:489px;}
.comp_19{height:45px;left:222.525px;top:301.953px;width:508px;}
.comp_19 .wafx-smt-txt-wrap{width:488px;}
.comp_2{height:109px;left:41.25px;top:11.0851px;width:303px;}
.comp_2 .wafx-img-picture{height:109px;left:0px;top:0px;width:303px;}
.comp_20{height:34px;left:0px;top:719.256px;width:768px;}
.comp_20 .wafx-smt-txt-wrap{width:748px;}
.comp_21{height:64px;left:0px;top:675.893px;width:768px;}
.comp_21 .wafx-smt-txt-wrap{width:748px;}
.comp_3{height:53px;left:370.25px;top:108.42px;width:398px;}
.comp_4{background-color:rgba(7,153,146,0);border:1px solid rgba(4,102,97,0);border-radius:5px;height:59px;left:370.75px;margin:-1px;top:134.835px;width:397px;}
.comp_4 .inner-box{border:1px solid rgba(10,230,219,0);border-radius:4px;height:calc(100% - 2px);left:1px;margin:-1px;position:absolute;top:1px;width:calc(100% - 2px);z-index:-1;}
.comp_5{height:62px;left:11.8101px;top:134.841px;width:271px;}
.comp_5 .wafx-smt-txt-wrap{width:251px;}
.comp_6{height:28px;left:370px;top:108px;width:398px;}
.comp_6 .wafx-smt-txt-wrap{width:378px;}
.comp_7{height:45px;left:0px;top:1535.01px;width:768px;}
.comp_7 .wafx-smt-txt-wrap{width:748px;}
.comp_8{height:49px;left:0px;top:1503.9px;width:768px;}
.comp_8 .wafx-smt-txt-wrap{width:748px;}
.comp_9{background-image:url(./wafx_res/Images/0-833-{4d0f0fd3-5fc5-4af1-80b8-0f9310752f53});height:413px;left:0px;top:223.764px;width:768px;}
.textShape_1024{display:none;}
.textShape_320{display:none;}
.textShape_768{display:block;}
.waBlockSocialBar{display:none;}
.wafx-menunid5 .wafx-menu{display:flex;font-size:14px;justify-content:center;}
.wafx-menunid5 .wafx-menu-bt-hamburger{display:none;justify-content:center;}
.wafx-menunid5 .wafx-menu-bt-hamburger svg{height:59px;transform:scale(0.8);width:59px;}
.wafx-menunid5 .wafxMenuPageGroupItem{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid5 .wafxMenuPageItem{color:#000000;font-family:'Arial';font-style:normal;font-weight:400;}
.wafx-menunid5 .wafxMenuPageItem:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid5.wafx-menu-frame{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'Arial';font-size:16px;font-style:normal;font-weight:400;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item{color:#000000;padding:8px;text-decoration:none;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid5.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:none;}
.wafx-vis-320{display:none;}
.wafx-vis-768{display:block;}
.wafxCompFluid{left:calc( 0px - (100vw - 768px) / 2);width:calc(100vw - 10px);}
}
@media(min-width:1025px){
.blockPage{transform:scale(1) ;transform-origin:top left;width:1024px;}
.blockPagecontainer{width:1024px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:block;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_19{display:block;}
.compVis_2{display:block;}
.compVis_20{display:block;}
.compVis_21{display:block;}
.compVis_3{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{background-image:url(./wafx_res/Images/0-1024-banner.jpg);height:218px;left:0px;top:226.894px;width:1024px;}
.comp_1{height:50px;left:0px;top:180.144px;width:1024px;}
.comp_10{height:756px;left:0px;top:713px;width:1024px;}
.comp_11{height:331px;left:507.5px;top:833.078px;width:345px;}
.comp_11 .wafx-img-picture{height:331px;left:7px;top:0px;width:331px;}
.comp_12{height:35px;left:0px;top:1772.13px;width:1024px;}
.comp_12 .wafx-img-picture{height:21px;left:0px;top:7px;width:1024px;}
.comp_13{height:331px;left:167px;top:833px;width:345px;}
.comp_13 .wafx-img-picture{height:331px;left:7px;top:0px;width:331px;}
.comp_14{background-image:url(./wafx_res/Images/0-1024-restaurant.jpg);height:309px;left:0px;top:1471px;width:1024px;}
.comp_15{height:194px;left:355px;top:464px;width:637px;}
.comp_15 .wafx-smt-txt-wrap{width:617px;}
.comp_16{height:233px;left:205px;top:1163.97px;width:300px;}
.comp_16 .wafx-smt-txt-wrap{width:280px;}
.comp_17{height:233px;left:530px;top:1163.5px;width:300px;}
.comp_17 .wafx-smt-txt-wrap{width:280px;}
.comp_18{height:50px;left:345.967px;top:350.2px;width:678px;}
.comp_18 .wafx-smt-txt-wrap{width:658px;}
.comp_19{height:28px;left:346px;top:400px;width:678px;}
.comp_19 .wafx-smt-txt-wrap{width:658px;}
.comp_2{height:145px;left:31px;top:27.5px;width:404px;}
.comp_2 .wafx-img-picture{height:145px;left:0px;top:0px;width:404px;}
.comp_20{height:28px;left:0px;top:797.599px;width:1024px;}
.comp_20 .wafx-smt-txt-wrap{width:1004px;}
.comp_21{height:50px;left:0px;top:748px;width:1024px;}
.comp_21 .wafx-smt-txt-wrap{width:1004px;}
.comp_3{height:80px;left:494px;top:100px;width:530px;}
.comp_4{background-color:rgba(7,153,146,0);border:1px solid rgba(4,102,97,0);border-radius:5px;height:50px;left:494px;margin:-1px;top:179.894px;width:530px;}
.comp_4 .inner-box{border:1px solid rgba(10,230,219,0);border-radius:4px;height:calc(100% - 2px);left:1px;margin:-1px;position:absolute;top:1px;width:calc(100% - 2px);z-index:-1;}
.comp_5{height:42px;left:30.5px;top:188px;width:453px;}
.comp_5 .wafx-smt-txt-wrap{width:433px;}
.comp_6{height:79px;left:494px;top:101px;width:530px;}
.comp_6 .wafx-smt-txt-wrap{width:510px;}
.comp_7{height:39px;left:0px;top:1829.76px;width:1024px;}
.comp_7 .wafx-smt-txt-wrap{width:1004px;}
.comp_8{height:31px;left:0px;top:1798.77px;width:1024px;}
.comp_8 .wafx-smt-txt-wrap{width:1004px;}
.comp_9{background-image:url(./wafx_res/Images/0-1024-{4d0f0fd3-5fc5-4af1-80b8-0f9310752f53});height:423px;left:0px;top:298.316px;width:1024px;}
.textShape_1024{display:block;}
.textShape_320{display:none;}
.textShape_768{display:none;}
.waBlockSocialBar{display:none;}
.wafx-menunid5 .wafx-menu{display:flex;font-size:14px;justify-content:center;}
.wafx-menunid5 .wafx-menu-bt-hamburger{display:none;justify-content:center;}
.wafx-menunid5 .wafx-menu-bt-hamburger svg{height:50px;transform:scale(0.8);width:50px;}
.wafx-menunid5 .wafxMenuPageGroupItem{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid5 .wafxMenuPageItem{color:#000000;font-family:'Arial';font-style:normal;font-weight:400;}
.wafx-menunid5 .wafxMenuPageItem:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid5.wafx-menu-frame{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'Arial';font-size:16px;font-style:normal;font-weight:400;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item{color:#000000;padding:8px;text-decoration:none;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid5.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:block;}
.wafx-vis-320{display:none;}
.wafx-vis-768{display:none;}
.wafxCompFluid{left:calc( 0px - (100vw - 1024px) / 2);width:calc(100vw - 10px);}
}

@media(max-width:330px){
.wafxCompFluid{
left:0px;
width:320px;
}
}
@media(max-width:768px){
.smt-para-wa-6{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:768px){
.smt-para-wa-6{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:1025px){
.smt-para-wa-6{
margin:10px !important;align-self:flex-start !important;
}
}
.smt-wa-6-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Raleway';font-size:20px;
}
.smt-wa-6-block-0 a{
color:#921f0f !important;text-decoration:underline !important;}

@media(max-width:768px){
.smt-para-wa-7{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:768px){
.smt-para-wa-7{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:1025px){
.smt-para-wa-7{
margin:10px !important;align-self:flex-start !important;
}
}
.smt-wa-7-block-0{
color:#0445c9;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:700;font-style:normal;font-family:'Raleway';font-size:16px;
}
.smt-wa-7-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

@media(max-width:768px){
.smt-para-wa-8{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:768px){
.smt-para-wa-8{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:1025px){
.smt-para-wa-8{
margin:10px !important;align-self:flex-start !important;
}
}
.smt-wa-8-block-0{
color:#59493f;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:700;font-style:normal;font-family:'Raleway';font-size:10px;
}
.smt-wa-8-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

@media(max-width:768px){
.smt-para-wa-9{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:768px){
.smt-para-wa-9{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:1025px){
.smt-para-wa-9{
margin:10px !important;align-self:flex-start !important;
}
}
.smt-wa-9-block-0{
color:#59493f;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:400;font-style:normal;font-family:'Petit Formal Script';font-size:18px;
}
.smt-wa-9-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-para-wa-16{
margin:10px !important;align-self:flex-start !important;
}
.smt-para-wa-17{
margin:10px !important;align-self:flex-start !important;
}
.smt-para-wa-18{
margin:10px !important;align-self:flex-start !important;
}
.smt-para-wa-19{
margin:10px !important;align-self:flex-start !important;
}
.smt-para-wa-20{
margin:10px !important;align-self:flex-start !important;
}
.smt-para-wa-21{
margin:10px !important;align-self:flex-start !important;
}
.smt-para-wa-22{
margin:10px !important;align-self:flex-start !important;
}
