body {-webkit-nbsp-mode:normal !important;margin: 0px !important;padding:0px !important;line-height:1.4 !important;} .wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{margin:0px !important;padding:0px !important;text-align:left;} .wafxText  a{font-weight:400;font-style:normal;text-decoration:none;color:#ff0000;} .wafxText  a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#ff0000;} .wafxText p.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h1.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h2.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h3.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h4.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h5.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h6.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf{text-align:left;} .waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf a:link{font-weight:400;font-style:normal;text-decoration:none;color:#ff0000;} .waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#ff0000;} .wafxText p.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h1.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h2.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h3.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h4.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h5.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h6.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487{text-align:left;} .waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487 a:link{font-weight:400;font-style:normal;text-decoration:none;color:#646464;} .waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487 a:visited{font-weight:400;font-style:normal;text-decoration:none;color:#646464;} 
@media(max-width:768px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h1.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h2.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h3.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h4.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h5.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h6.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
.wafxText p.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h1.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h2.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h3.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h4.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h5.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h6.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
}
@media(min-width:768px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h1.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h2.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h3.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h4.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h5.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h6.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
.wafxText p.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h1.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h2.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h3.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h4.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h5.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h6.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
}
@media(min-width:1025px){
.wafxText p,.wafxText h1,.wafxText h2,.wafxText h3,.wafxText h4,.wafxText h5,.wafxText h6{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
.wafxText p.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h1.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h2.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h3.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h4.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h5.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487,.wafxText h6.waStyle-c1036637-867a-4f65-aaaf-a84ba5dcf487{color:#000000;font-family:Impact;font-size:20px;;font-weight:400;;}
.wafxText p.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h1.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h2.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h3.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h4.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h5.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf,.wafxText h6.waStyle-ebcf5d0b-34cb-4a27-9ad5-3fac8c589ecf{color:#000000;font-family:Arial;font-size:14px;;font-weight:400;;}
}
.smt-wa-default{
color:#000000;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Arial';font-size:13px;
}
.smt-wa-default a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-block-fa0d9064_c4f6_470c_a38b_08b096a0a292{
color:#0645c9;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:140%;text-align:center;font-weight:400;font-style:normal;font-family:'Raleway';font-size:14px;
}
.smt-wa-block-fa0d9064_c4f6_470c_a38b_08b096a0a292 a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-block-845e611e_3703_4fc0_83fa_e6059805724a{
color:#59493f;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:400;font-style:normal;font-family:'Petit Formal Script';font-size:46px;
}
.smt-wa-block-845e611e_3703_4fc0_83fa_e6059805724a a{
color:#0000ff !important;text-decoration:underline !important;}

.smt-wa-block-39bd263a_7825_41ec_a80d_cfd84d8816a5{
color:#f8b535;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:400;font-style:normal;font-family:'Raleway';font-size:16px;
}
.smt-wa-block-39bd263a_7825_41ec_a80d_cfd84d8816a5 a{
color:#0000ff !important;text-decoration:underline !important;}

.comp_0{background-position:center center;background-size:cover;position:absolute;z-index:10005;}
.comp_1{background-color:#59493f;position:absolute;z-index:10010;}
.comp_10{background-color:#f5f3ef;position:absolute;z-index:50005;}
.comp_11{position:absolute;z-index:50025;}
.comp_12{position:absolute;z-index:50010;}
.comp_13{position:absolute;z-index:50015;}
.comp_14{position:absolute;z-index:50020;}
.comp_15{background-color:rgba(0,0,0,0);position:absolute;z-index:50030;}
.comp_16{background-color:rgba(0,0,0,0);position:absolute;z-index:50035;}
.comp_17{background-color:rgba(0,0,0,0);position:absolute;z-index:50040;}
.comp_18{position:absolute;z-index:50045;}
.comp_2{position:absolute;z-index:10015;}
.comp_3{background-color:#f8b535;position:absolute;z-index:10000;}
.comp_4{position:absolute;z-index:10035;}
.comp_4 .wafx-menunid5 .wafx-menu-bt-hamburger svg{fill:#ffffff;}
.comp_5{background-color:rgba(0,0,0,0);position:absolute;z-index:10060;}
.comp_6{background-color:rgba(0,0,0,0);position:absolute;z-index:10095;}
.comp_7{background-color:rgba(0,0,0,0);position:absolute;z-index:10125;}
.comp_8{background-color:rgba(0,0,0,0);position:absolute;z-index:10155;}
.comp_9{background-position:left center;background-size:cover;position:absolute;z-index:50000;}
.wafx-menunid5 .wafx-menu-frame-main .wafx-menu-item{color:#ffffff;font-family:'Raleway';font-style:normal;font-weight:700;padding:0px;padding-left:10px;padding-right:10px;text-decoration:none;}
.wafx-menunid5 .wafxMenuItemLeftPad{padding-left:25px;}
.wafx-menunid5 .wafxMenuItemRightPad{padding-right:25px;}
.wafx-menunid5 .wafxMenuItemVerticalPad{padding-bottom:15px;padding-top:15px;}
.wafx-menunid5 .wafxMenuPageBackText{background-color:black;color:white;font-family:'Arial';font-style:normal;font-weight:400;padding-bottom:20px;padding-top:20px;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item{color:#000000;padding:8px;text-decoration:none;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item:hover{background-color:#a0a0a4;color:#ffffff;}
body{background-color:#fdc92b;}
@media(max-width:768px){
.blockPage{transform:scale(1) ;transform-origin:top left;width:320px;}
.blockPagecontainer{width:320px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:block;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_2{display:block;}
.compVis_3{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{background-image:url(./wafx_res/Images/0-320-banner.jpg);height:68px;left:0px;top:269.967px;width:320px;}
.comp_1{height:91px;left:0px;top:179.054px;width:320px;}
.comp_10{height:592px;left:0px;top:1551.73px;width:320px;}
.comp_11{height:375px;left:0px;top:1205px;width:320px;}
.comp_11 .wafx-img-picture{height:100px;left:0px;top:138px;width:320px;}
.comp_12{height:93px;left:119px;top:1568px;width:70px;}
.comp_12 .wafx-img-picture{height:60px;left:0px;top:17px;width:70px;}
.comp_13{height:67px;left:125px;top:1854.13px;width:70px;}
.comp_13 .wafx-img-picture{height:60px;left:0px;top:4px;width:70px;}
.comp_14{height:23px;left:0px;top:2133.5px;width:320px;}
.comp_14 .wafx-img-picture{height:6px;left:0px;top:9px;width:320px;}
.comp_15{height:193px;left:1px;top:1643px;width:319px;}
.comp_15 .wafx-smt-txt-wrap{width:299px;}
.comp_16{height:189px;left:0px;top:1920.85px;width:319px;}
.comp_16 .wafx-smt-txt-wrap{width:299px;}
.comp_17{height:354px;left:0px;top:513.142px;width:320px;}
.comp_17 .wafx-smt-txt-wrap{width:300px;}
.comp_18{height:38px;left:38.2334px;top:387.491px;width:28px;}
.comp_18 .wafx-img-picture{height:11px;left:0px;top:13px;width:28px;}
.comp_2{height:116px;left:17.3193px;top:4.95678px;width:280px;}
.comp_2 .wafx-img-picture{height:100px;left:0px;top:8px;width:280px;}
.comp_3{height:58px;left:0px;top:120.804px;width:320px;}
.comp_4{background:none;background-color:transparent;border:none;height:90px;left:222.594px;top:179.515px;width:97px;}
.comp_4 .inner-box{border:none;}
.comp_5{height:72px;left:11.4314px;top:188.404px;width:196px;}
.comp_5 .wafx-smt-txt-wrap{width:176px;}
.comp_6{height:49px;left:0px;top:125.5px;width:319px;}
.comp_6 .wafx-smt-txt-wrap{width:299px;}
.comp_7{height:59px;left:0px;top:2210.4px;width:320px;}
.comp_7 .wafx-smt-txt-wrap{width:300px;}
.comp_8{height:53px;left:0px;top:2183.5px;width:320px;}
.comp_8 .wafx-smt-txt-wrap{width:300px;}
.comp_9{background-image:url(./wafx_res/Images/0-1514-4B45903F-CFFA-4305-9899-FECC70875E52.JPEG);height:1136px;left:0px;top:307.895px;width:320px;}
.textShape_1024{display:none;}
.textShape_320{display:block;}
.textShape_768{display:none;}
.waBlockSocialBar{display:none;}
.wafx-menunid5 .wafx-menu{display:none;}
.wafx-menunid5 .wafx-menu-bt-hamburger{display:flex;justify-content:center;}
.wafx-menunid5 .wafx-menu-bt-hamburger svg{height:90px;transform:scale(0.8);width:90px;}
.wafx-menunid5 .wafxMenuPageGroupItem{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid5 .wafxMenuPageItem{color:#000000;font-family:'Arial';font-style:normal;font-weight:400;}
.wafx-menunid5 .wafxMenuPageItem:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid5.wafx-menu-frame{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'Arial';font-size:16px;font-style:normal;font-weight:400;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item{color:#000000;padding:8px;text-decoration:none;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid5.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:none;}
.wafx-vis-320{display:block;}
.wafx-vis-768{display:none;}
.wafxCompFluid{left:calc( 0px - (100vw - 320px) / 2);width:calc(100vw - 10px);}
}
@media(min-width:768px){
.blockPage{transform:scale(1) ;transform-origin:top left;width:768px;}
.blockPagecontainer{width:768px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:none;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:block;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_2{display:block;}
.compVis_3{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{background-image:url(./wafx_res/Images/0-770-banner.jpg);height:164px;left:0px;top:189.92px;width:768px;}
.comp_1{height:59px;left:0px;top:134.929px;width:768px;}
.comp_10{height:342px;left:0px;top:882.458px;width:768px;}
.comp_11{height:255px;left:269px;top:1049px;width:255px;}
.comp_11 .wafx-img-picture{height:79px;left:0px;top:88px;width:255px;}
.comp_12{height:75px;left:184px;top:909px;width:75px;}
.comp_12 .wafx-img-picture{height:65px;left:0px;top:5px;width:75px;}
.comp_13{height:75px;left:535.5px;top:909px;width:75px;}
.comp_13 .wafx-img-picture{height:65px;left:0px;top:5px;width:75px;}
.comp_14{height:56px;left:0px;top:1201px;width:768px;}
.comp_14 .wafx-img-picture{height:16px;left:0px;top:20px;width:768px;}
.comp_15{height:198px;left:47px;top:990.851px;width:337px;}
.comp_15 .wafx-smt-txt-wrap{width:317px;}
.comp_16{height:206px;left:403px;top:991px;width:340px;}
.comp_16 .wafx-smt-txt-wrap{width:320px;}
.comp_17{height:478px;left:271.25px;top:417.336px;width:235px;}
.comp_17 .wafx-smt-txt-wrap{width:215px;}
.comp_18{height:90px;left:91.36px;top:930.578px;width:68px;}
.comp_18 .wafx-img-picture{height:26px;left:0px;top:32px;width:68px;}
.comp_2{height:109px;left:41.25px;top:11.0851px;width:303px;}
.comp_2 .wafx-img-picture{height:109px;left:0px;top:0px;width:303px;}
.comp_3{height:53px;left:370.25px;top:108.42px;width:398px;}
.comp_4{background-color:rgba(7,153,146,0);border:1px solid rgba(4,102,97,0);border-radius:5px;height:59px;left:370.75px;margin:-1px;top:134.835px;width:397px;}
.comp_4 .inner-box{border:1px solid rgba(10,230,219,0);border-radius:4px;height:calc(100% - 2px);left:1px;margin:-1px;position:absolute;top:1px;width:calc(100% - 2px);z-index:-1;}
.comp_5{height:62px;left:11.8101px;top:134.841px;width:271px;}
.comp_5 .wafx-smt-txt-wrap{width:251px;}
.comp_6{height:28px;left:370px;top:108px;width:398px;}
.comp_6 .wafx-smt-txt-wrap{width:378px;}
.comp_7{height:45px;left:0px;top:1280.01px;width:768px;}
.comp_7 .wafx-smt-txt-wrap{width:748px;}
.comp_8{height:49px;left:0px;top:1248.9px;width:768px;}
.comp_8 .wafx-smt-txt-wrap{width:748px;}
.comp_9{background-image:url(./wafx_res/Images/0-794-4B45903F-CFFA-4305-9899-FECC70875E52.JPEG);height:596px;left:0px;top:291.481px;width:768px;}
.textShape_1024{display:none;}
.textShape_320{display:none;}
.textShape_768{display:block;}
.waBlockSocialBar{display:none;}
.wafx-menunid5 .wafx-menu{display:flex;font-size:14px;justify-content:center;}
.wafx-menunid5 .wafx-menu-bt-hamburger{display:none;justify-content:center;}
.wafx-menunid5 .wafx-menu-bt-hamburger svg{height:59px;transform:scale(0.8);width:59px;}
.wafx-menunid5 .wafxMenuPageGroupItem{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid5 .wafxMenuPageItem{color:#000000;font-family:'Arial';font-style:normal;font-weight:400;}
.wafx-menunid5 .wafxMenuPageItem:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid5.wafx-menu-frame{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'Arial';font-size:16px;font-style:normal;font-weight:400;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item{color:#000000;padding:8px;text-decoration:none;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid5.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:none;}
.wafx-vis-320{display:none;}
.wafx-vis-768{display:block;}
.wafxCompFluid{left:calc( 0px - (100vw - 768px) / 2);width:calc(100vw - 10px);}
}
@media(min-width:1025px){
.blockPage{transform:scale(1) ;transform-origin:top left;width:1024px;}
.blockPagecontainer{width:1024px;}
.compVis_0{display:block;}
.compVis_1{display:block;}
.compVis_10{display:block;}
.compVis_11{display:block;}
.compVis_12{display:block;}
.compVis_13{display:block;}
.compVis_14{display:block;}
.compVis_15{display:block;}
.compVis_16{display:block;}
.compVis_17{display:block;}
.compVis_18{display:block;}
.compVis_2{display:block;}
.compVis_3{display:block;}
.compVis_4{display:block;}
.compVis_5{display:block;}
.compVis_6{display:block;}
.compVis_7{display:block;}
.compVis_8{display:block;}
.compVis_9{display:block;}
.comp_0{background-image:url(./wafx_res/Images/0-1024-banner.jpg);height:218px;left:0px;top:226.894px;width:1024px;}
.comp_1{height:50px;left:0px;top:180.144px;width:1024px;}
.comp_10{height:375px;left:0px;top:943.057px;width:1024px;}
.comp_11{height:340px;left:342px;top:930px;width:340px;}
.comp_11 .wafx-img-picture{height:106px;left:0px;top:117px;width:340px;}
.comp_12{height:100px;left:122px;top:1002px;width:100px;}
.comp_12 .wafx-img-picture{height:86px;left:0px;top:7px;width:100px;}
.comp_13{height:100px;left:804px;top:1002px;width:100px;}
.comp_13 .wafx-img-picture{height:86px;left:0px;top:7px;width:100px;}
.comp_14{height:19px;left:0px;top:1326.81px;width:1024px;}
.comp_14 .wafx-img-picture{height:19px;left:61px;top:0px;width:902px;}
.comp_15{height:234px;left:22px;top:1100px;width:300px;}
.comp_15 .wafx-smt-txt-wrap{width:280px;}
.comp_16{height:220px;left:704px;top:1107px;width:300px;}
.comp_16 .wafx-smt-txt-wrap{width:280px;}
.comp_17{height:368px;left:766.984px;top:529px;width:257px;}
.comp_17 .wafx-smt-txt-wrap{width:237px;}
.comp_18{height:120px;left:122px;top:1231.77px;width:90px;}
.comp_18 .wafx-img-picture{height:35px;left:0px;top:42px;width:90px;}
.comp_2{height:145px;left:31px;top:27.5px;width:404px;}
.comp_2 .wafx-img-picture{height:145px;left:0px;top:0px;width:404px;}
.comp_3{height:80px;left:494px;top:100px;width:530px;}
.comp_4{background-color:rgba(7,153,146,0);border:1px solid rgba(4,102,97,0);border-radius:5px;height:50px;left:494px;margin:-1px;top:179.894px;width:530px;}
.comp_4 .inner-box{border:1px solid rgba(10,230,219,0);border-radius:4px;height:calc(100% - 2px);left:1px;margin:-1px;position:absolute;top:1px;width:calc(100% - 2px);z-index:-1;}
.comp_5{height:42px;left:30.5px;top:188px;width:453px;}
.comp_5 .wafx-smt-txt-wrap{width:433px;}
.comp_6{height:79px;left:494px;top:101px;width:530px;}
.comp_6 .wafx-smt-txt-wrap{width:510px;}
.comp_7{height:39px;left:0px;top:1374.76px;width:1024px;}
.comp_7 .wafx-smt-txt-wrap{width:1004px;}
.comp_8{height:31px;left:0px;top:1343.77px;width:1024px;}
.comp_8 .wafx-smt-txt-wrap{width:1004px;}
.comp_9{background-image:url(./wafx_res/Images/0-1024-4B45903F-CFFA-4305-9899-FECC70875E52.JPEG);height:525px;left:0px;top:442.112px;width:1024px;}
.textShape_1024{display:block;}
.textShape_320{display:none;}
.textShape_768{display:none;}
.waBlockSocialBar{display:none;}
.wafx-menunid5 .wafx-menu{display:flex;font-size:14px;justify-content:center;}
.wafx-menunid5 .wafx-menu-bt-hamburger{display:none;justify-content:center;}
.wafx-menunid5 .wafx-menu-bt-hamburger svg{height:50px;transform:scale(0.8);width:50px;}
.wafx-menunid5 .wafxMenuPageGroupItem{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.2);}
.wafx-menunid5 .wafxMenuPageItem{color:#000000;font-family:'Arial';font-style:normal;font-weight:400;}
.wafx-menunid5 .wafxMenuPageItem:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid5.wafx-menu-frame{background-color:#ffffff;box-shadow:10px 10px 5px rgba(0,0,0,0.1);font-family:'Arial';font-size:16px;font-style:normal;font-weight:400;margin:0px;min-width:200px;padding:10px;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item{color:#000000;padding:8px;text-decoration:none;}
.wafx-menunid5.wafx-menu-frame .wafx-menu-item:hover{background-color:#a0a0a4;color:#ffffff;}
.wafx-menunid5.wafxBgMenu{font-size:20px;}
.wafx-vis-1024{display:block;}
.wafx-vis-320{display:none;}
.wafx-vis-768{display:none;}
.wafxCompFluid{left:calc( 0px - (100vw - 1024px) / 2);width:calc(100vw - 10px);}
}

@media(max-width:330px){
.wafxCompFluid{
left:0px;
width:320px;
}
}
@media(max-width:768px){
.smt-para-wa-6{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:768px){
.smt-para-wa-6{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:1025px){
.smt-para-wa-6{
margin:10px !important;align-self:flex-start !important;
}
}
.smt-wa-6-block-0{
color:#ffffff;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:left;font-weight:400;font-style:normal;font-family:'Raleway';font-size:20px;
}
.smt-wa-6-block-0 a{
color:#921f0f !important;text-decoration:underline !important;}

@media(max-width:768px){
.smt-para-wa-7{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:768px){
.smt-para-wa-7{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:1025px){
.smt-para-wa-7{
margin:10px !important;align-self:flex-start !important;
}
}
.smt-wa-7-block-0{
color:#0445c9;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:700;font-style:normal;font-family:'Raleway';font-size:16px;
}
.smt-wa-7-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

@media(max-width:768px){
.smt-para-wa-8{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:768px){
.smt-para-wa-8{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:1025px){
.smt-para-wa-8{
margin:10px !important;align-self:flex-start !important;
}
}
.smt-wa-8-block-0{
color:#59493f;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:700;font-style:normal;font-family:'Raleway';font-size:10px;
}
.smt-wa-8-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

@media(max-width:768px){
.smt-para-wa-9{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:768px){
.smt-para-wa-9{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:1025px){
.smt-para-wa-9{
margin:10px !important;align-self:flex-start !important;
}
}
.smt-wa-9-block-0{
color:#59493f;margin:0px;padding:0px;margin-bottom:10px;overflow-wrap: break-word;text-decoration:none;line-height:100%;text-align:center;font-weight:400;font-style:normal;font-family:'Petit Formal Script';font-size:18px;
}
.smt-wa-9-block-0 a{
color:#0000ff !important;text-decoration:underline !important;}

@media(max-width:768px){
.smt-para-wa-16{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:768px){
.smt-para-wa-16{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:1025px){
.smt-para-wa-16{
margin:10px !important;align-self:flex-start !important;
}
}
@media(max-width:768px){
.smt-para-wa-17{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:768px){
.smt-para-wa-17{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:1025px){
.smt-para-wa-17{
margin:10px !important;align-self:flex-start !important;
}
}
@media(max-width:768px){
.smt-para-wa-18{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:768px){
.smt-para-wa-18{
margin:10px !important;align-self:flex-start !important;
}
}
@media(min-width:1025px){
.smt-para-wa-18{
margin:10px !important;align-self:flex-start !important;
}
}
